/* 5365 removed background image */
/* 5368 10 px padding */
/* 5366 color white */
/* 2323 text underline */
/* 5222 text shadow */
/* 1312 loading icon */

div .header_background {
	background-color: #082A69;
	text-align: center;	
}
 
span.v-menubar-menuitem-caption {
	text-decoration: underline;
}

span.v-menubar-menuitem-caption:hover {
	cursor:pointer;
}

.v-formlayout-link_box {
	padding: 10px;
}

.v-label-help_label { 
	padding: 10px;
}

div .v-label.v-widget.h1.v-label-h1.v-has-width {
	text-shadow: 0px 0px 0px #000000;
	padding-top: 21px;
}
 
div .h1 {
	text-align: justify;
	font-size: 88px;
} 

.v-slot-main_title {
	color: white;
	margin: 0.5em;
}

.v-slot-dates {
	padding-left: 10px;
	width: 106px;
}

.v-slot-axis {
	padding-left: 10px;
}

.v-caption-dates, .v-caption-axis {
	color: white;
}

.v-horizontallayout-toolbar-background {
	padding: 3px;
	background-color: #323336;
}

.v-slot-go_button {
	padding-left: 10px;
	padding-top: 10px;	
	vertical-align: middle;
}

.v-slot-share_button {
	padding-left: 20px;
	padding-top: 10px;	
	vertical-align: middle;
}

.v-slot-linkbox {
	padding-left: 20px;
	padding-top: 10px;	
	vertical-align: middle;
}

.v-slot-main_menubar {
	padding-top: 10px;
	background-color: #323336;
	vertical-align: middle;
}

.v-tooltip {
	background-color: #fffcdd;
	border: 1px solid #b8b295;
	border-top-color: #d5d2c1;
	border-left-color: #d5d2c1;
	font-size: 11px;
	font-family: arial, helvetica, tahoma, verdana, sans-serif;
	color: #5d5444;
}

.v-tooltip-text {
	padding: 2px 4px;
	border: none;
	border-top: 1px solid #fffef5;
	border-bottom: 1px solid #fbf8d9;
}

.v-tooltip .v-errormessage {
	padding: 3px 4px 3px 4px;
	background: #ffecc6;
	color: #b74100;
    border: none;
    border-top: 1px solid #fff3dc;
    border-bottom: 1px solid #ead7b1;
}

.v-tooltip .v-errormessage h2 {
	font-size: 16px;
	font-weight: normal;
	color: #ab3101;
	margin: 2px 0 8px 0;
}

.v-tooltip .v-errormessage h3 {
	font-size: 13px;
	font-weight: bold;
	margin: 1px 0 4px 0;
}

div .b {
	text-align:right;
}

.mytheme .v-slot, .mytheme .v-spacing {
	vertical-align: middle;
}

.v-slot-main_title {
	color: white;
	margin: 0.5em;
}

.v-slot-dates {
	padding-left: 10px;
	width: 106px;
}

.v-caption-dates {
	color: white;
}

.v-horizontallayout-toolbar-background {
	padding: 3px;
	background-color: #323336;
}

.axisLabels {
	color: black;
	font-size: 22px;
}


#labelForTitle {
	font-size:20px;
	font-weight: bold;
	font-style: normal;
	height: 25px;
/*	padding-left: 80px;*/
/* 	padding-top: 4px;
	padding-bottom: 3px;  */
}

#labelForText {
/*border-top: medium;*/
	font-size: 14px;
	border-left: medium;
	padding-left: 10px;
}

.selectLabelDisplay{
	padding-top: 20px;
	font-size:20px;
}

#proAndAutSelect{
	/*padding-left: 200px;*/
}