
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>QIC in AngularJS</title>

  </head>

  <body>

    <div ng-app="myApp">
      <div ng-controller="ViewController">
          <!--<input type="radio" ng-model="view" value="DELTA_LINESOFCODE">  Lines Modified vs Final Complexity <br/>
          <input type="radio" ng-model="view" value="DELTA_COMPLEXITY"> Change in Complexity vs Final Complexity <br/>
          <input type="radio" ng-model="view" value="LINESOFCODE"> Lines of Code vs Complexity for all Files <br/>-->
          <h1>text = {{data.message}}</h1><br/>
        </form>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!---<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>